.button {
    display: inline-block;
    color: black;
    background-color: #ffffff;
    padding: 6px 20px;
    border-radius: 120px;
    transition: all 0.25s ease;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.058);
}

.button:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.158);
    transform: scale(0.98);
}