@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background: linear-gradient(135deg, rgba(54,121,175,1) 0%, rgba(164,179,235,1) 100%);
}

.center {
  display: flex;
  place-items: center;
  justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 600;
}

footer {
  background-color: #BDBDBD;
}

.weerItem {
  background-color: white;
  min-height: 200px;
  width: 100%;
  border-radius: 12px;
  padding: 15px;
}
